# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env.*

# OS files
.DS_Store
Thumbs.db

# Uploads / temporary files
uploads/
*.sqlite3
*.db

# Credentials / secret files
credentials.json
token.json

make_hash.py